a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

* {
    font-family: 'Kanit', sans-serif;
}


@media (max-width: 500px) 
{
    .flux {
        margin-left: 15px;
        margin-right: 15px;
    }
}

.navbar-brand {
    margin-left: 50px;
}
.navbar-nav {
    margin-left: auto;
    margin-right: 70px;
}

.nav-link {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 300;
}

.nav-item {
    margin-left:20px;
    margin-right:20px;
}


.image-banner {
    width: 100%;
    position:relative;
    opacity:80%;
}

.text-over {
    position: absolute;
    left: 15%;
    top: 30%;
    color: #f50606;
    font-size: 50px;
    font-weight: 500;
    -webkit-text-stroke: 1px #050404;
}
    
@media (max-width: 500px) {
    .container {
        flex-direction: column;
    }
}
.container {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

.cont-item {
    position: relative;
    padding: 20px;
    margin-left: 40px;
}

.cont-item-img {
    opacity: 0.8;
}

h2 {
    position: absolute;
    bottom: 20px;
    margin-left: 40px;
    font-weight: 600;
    color: #FC0404;
    -webkit-text-stroke: 1px #050404;
    z-index: 5
    
}

*{
    box-sizing: border-content;
}

body{
    margin: 0;
    padding: 0;
}

h3 {
    color: #FFFFFF;
    text-align: center;
    padding: 30px 10px 10px;
    margin: 0 0 30px;
}

.partenaires {
    background-color: #050404;
}

.grid-container {
    list-style: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
    justify-content: space-between;
    row-gap: 30px;
}

.grid-container li img {
    display: block;
    width: 100%;
    height: auto;
}
.page-footer-font-small-grey {
    background-color: grey;
}

